//colors
$color_gray: #A0A0A0;
$color_green: #00923A;
$color_dark_grey: #34343E;
$color-white: #FFFFFF;

//font-sizes
$font_size_s: 24px;
$font_size_m: 36px;
$font_size_l: 56px;
$font_size_xl: 56px;
$font_size_xxl: 104px;
